/* reset de margens*/
*{
    margin: 0;
    padding: 0;
}

/* para garantir que estes elementos ocuparão toda a tela*/
body, html {
    width: 100%;
    height: 100%;
    font-family: Arial, Tahoma, sans-serif;
}

#fundo-externo {
    overflow: hidden; /*para que não haja rolagem caso a imagem de fundo for maior que a tela*/
    width: 100%;
    height: 100%;
    position: relative; /*contexto para posicionamento*/
}

#fundo{
    position: fixed;
    width: 100%;
    height: 100%;
}

#fundo img{
    width: 100%;
    position: absolute;
}

#secao{
    position: absolute;
    font-weight: 700;
    top: 170px;
    left: 45%;
    width: 630px;
    padding: 60px;
    margin-left: -300px;
    background: #FFF;
    background: rgba(255, 255, 255, 0.7);
}

.btn {
    position: absolute;
    top: 353px;
    left: 43%;
    font-family: Arial;
    font-size: 30px;
    font-weight: 700;
    border: none;
    cursor: pointer;
    padding: 10px;
    background: rgba(255, 255, 255, 0.7);
    
}

.btn-box {
    box-shadow: 0 5px 0 rgba(255, 255, 255, 0.788);
}

.btn-box:hover {
    background: #FFF;
    color: rgb(5, 1, 1);

}

#rodape{
    width: 100%;   
    padding: 10px;   
    background-color: #04124F;
    position: absolute;
    left: 0;
    bottom: 0px;
}

#rodape a {
    text-decoration: none;
    background-color: #04124F;
    color: white;
}

#areainfo {
    color: white;
    float: left;
    padding-right: 30px;
    font-size: 15px
}

#areaname {
    color: white;
    float: right;
    padding-right: 30px;
    font-size: 15px;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
}


#areacontato {
    float:center;
    left: 10px;
    color: white;
    font-size: 15px
}

/*pra baixa ja tinha feito */
.mascara{
    position:absolute;
    left:0;
    top:0;
    z-index:100;
    background-color:black;
    width: 100%;
    height: 100%;
    opacity: 0.8;
}

.fieldtext{
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    box-shadow: 1px 1px 2px #333333;    
    -moz-box-shadow: 1px 1px 2px #333333;
    -webkit-box-shadow: 1px 1px 2px #333333;
    border:1px solid #000000;
    width:230px;
}

body{
    background: #EFEEEE;
}

.fieldnumber{
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    box-shadow: 1px 1px 2px #333333;    
    -moz-box-shadow: 1px 1px 2px #333333;
    -webkit-box-shadow: 1px 1px 2px #333333;
    border:1px solid #000000;
    width:70px;
}

/*a:hover
{
    background: #ffffff; border:1px solid #000000;
}*/

input[type=text]:hover, input[type=number]:hover{ 
          background: #ffffff; border:1px solid #990000;
}



#logo{
    float: left;
    padding-right: 50px;
    margin: -9px;
    padding-bottom: 0px;
    width: 130px; 
    height: 70px;
}

#texto-pdi{
    padding-left: 213px;
}

.window{
    position: absolute;
    width: 50%;
    height: 70%;
    left: 12%;
    top: 12%;
    background-color: white;
    color: #4286f4;
    z-index: 200;
    padding: 3% 10% 3% 10%;
    border-radius: 10px;
    text-align: center;
}

#title{
    margin-top: 25px;
    font-weight: 700;
    font-size: 25px;
}

#fechaModal{
    cursor: pointer; 
    float: right;
}

#navbar{
    width: 100%;   
    padding: 10px;   
    background-color: #04124F;
    border-bottom: 2px solid black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

#area {
    margin-top: 18px;
}

#navbar a {
    text-decoration: none;
    float: center;
    box-sizing: border-box; 
    margin: 0 auto;
    /*border: 1px solid black;*/
    padding: 10px;
    border-radius: 3px;
    background-color: #04124F;
    color: white;
}

.lbl-item {
    position: absolute;
    left: -10px;
    top: 50px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    font-size: 20px;
}

.lbl-criterio {
    font-size: 20px;
}

.remove_field {
    text-decoration: none;
    color: red;
}

#mySidenav p{
    text-align: justify;
    margin-left: 5px;
    margin-right: 5px;
}

.info-container {
    text-align: center;
    width: 100%;
    height: 120px;
    padding-top: 30px;
}

.infos {
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    width: 23%;
    max-height: 150px;
    overflow: auto;
}

.infos input{
    text-decoration: none;
    border: none;
    text-align: center;
}

.criterios,
.itens,
.configs{
    /*border: 1px solid #4286f4;*/
    border-radius: 10px;
}

.criterios {    
    /*text-align: center;*/
    display: flex;
    float: left;
    width: 590px;
}

.itens {    
    margin-top: 2px;
    display: flex;
    float: left;
    width: 590px;    
    /*text-align: center;*/
}

.area-crit-ite {
    padding-top: 30px;
    height: 300px;
    overflow: auto;
    max-height: 300px;
}

.itens a{
    text-decoration: none;
    color: red;
}

.configs {
    width: 1200px;
}

.celula {
    text-align: center;
    margin: 2px;
    width: 50px;
}

.content {
    max-width: 100%;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.configuracao {
    text-align: center;
}

.areaMatriz {
    margin-top: 2px;
}

.matriz-content {
    position: relative;
    border: 1px solid #4286f4;
    border-radius: 10px;
    margin-top: 15px;
    overflow: auto;
    padding: 15px;
}

.areaInfo {
    border: 2px solid #4CAF50;
    padding: 10px;
    border-radius: 10px;
}

.linhaMatriz {
    white-space: nowrap;
}

.rotuloAlternativa {
    float: left;
    border: 1px solid black;
    margin-right: 5px;
    padding: 1px;
    border-radius: 1px;
    text-align: center;
}

.rotuloAtributo {
    border: 1px solid black;
    padding: 1px;
    padding-left: 20px;
    padding-right: 20px;

    /*margin-left: 0px;*/
    /*margin-right: 20px;*/
    border-radius: 1px;
    text-align: center;
}

#label-atributo {
    margin-left: 20px;
}

.alternativa {
    margin-right: 3px;
}

.atributo {
    margin-right: 3px;
}

.peso {
    margin-right: 3px;
}

.importancia {
    margin-right: 3px;
}

.botao1 {
    border-radius: 5px;
    border: 1px solid #47525E;
    color: white;
    background-color: #47525E;
    display: inline-block;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    padding: 8px;
    transition-duration: 1s;
    margin: 1px;
}

.botao1:focus {
    outline: none;
}

.botao-run {
    text-align: left;
    margin-top: 5px;
    text-decoration: underline !important;
    font-size: 18px !important;
}

.botao-edit {
    border: none;
    padding: 5px 10px;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: #47525E;
    display: inline-block;
    margin-bottom: -15px;
}

.manual-title{
    color: #4286f4;
    font-size: 25px;
    text-align: center;
}

.manual-navbar{
    box-sizing: border-box; 
    margin: 5px;
    border: 1px solid black;
    padding: 5px;
    border-radius: 3px;
    background-color: #317ef9;
    color: white;
    text-decoration: underline;
}
#btn-export {
    display: none;
}

#btn-export a{
    text-decoration: none;
    color: white;
}
/*DAQUI*/
/* esse trecho faz sumir as setas dos campos type="number" */
[type="number"] {
    -moz-appearance: textfield;
}
[type="number"]::-webkit-outer-spin-button,
[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/*ATÃ‰ AQUI*/
/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
